/* .div{background-color:black;
margin:0
}


/* .a1{
color: white;
text-decoration:none;font-size:20px;
display: flex;
flex-direction: column;

}

.input3{
margin-left:10px;
padding:24px;width:450px;border:none}
.button1{
width:170px;padding:24px;background-color:rgba(255, 235, 205, 0.429);border: none; color:white;font-size:17px;}
.h53{
color:white}
.footer1{
margin:17px;padding:10px;color:white;
}
.footer2{
margin:15px;padding:10px;margin-left:30px;font-size:17px;
display: flex; flex-direction: column;
}
.footer3{
margin:17px;padding:10px;font-size:17px;display: flex; flex-direction: column;
}
.footer4{
margin:15px;padding:10px;font-size:17px;display: flex; flex-direction: column;
}
.footer5{
margin:15px;padding:10px;color:white;font-size:17px;display: flex; flex-direction: column;
}
.icon{
width:30px;height:100px; margin:15px} */

/* .h71{
position:relative;
margin-top:400px;
right: 250px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;} */
/* 
.img23{
size:30px; width:300px;position:relative;
top:400px; right:330px;height:180px;
}
li{
padding:5px;}
button:hover{
background-color: burlywood;}
/* h5:hover{
text-decoration:underline; color: aquamarine;
cursor: pointer;} */

.ul4{
display:flex; flex-direction:row;; background-color: black;color: beige;position:relative;bottom:500px; height:100%;}
.ul44{
display:flex;flex-direction: column; ;margin:70px;padding:20px;}
.li{
  font-size:20px;list-style-type: none;
}
.Fa{
position: relative; left:670px;bottom:260px;}
.icon{
    width:60px;height:720px; margin:15px; color:#a6a6a6;}
   .a1{
   text-decoration: none;   color:#a6a6a6; }
   .h4{
   font-size: 35px; margin:-60px;color: #a6a6a6; }
    .img{
    height:370px;position: relative;left:76%;bottom:980px;}
    