/* .slide{
position:relative;
bottom:130px;
width:100%;
} */
.imge6{
display: flex;
flex-direction:row;
height:100vh;
position:relative;
bottom:199px;
width:3000px;

}
.imgea{
width:100%;margin-left:8px;position: relative;top:20px}